* {
  box-sizing: border-box;
}


//Color var

$main-color: #4285f4;
$add-color: #dd4b39;

.calc {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;

  .calc-row {
      display: flex;
      flex-grow: 1;

      .calc-button {
          width: 25%;
          height: auto;
          margin: 0;
          padding: 20px;
          border: none;
          border-radius: 0;
          color: #fff;
          background: $main-color;
          font-size: 2em;
      }

      .func {
          background: $add-color;
          color: #fff;
      }
  }

  .result {
      flex-direction: row;
      background: $add-color;
      color: white;
      text-align: right;
      font-size: 6rem;
      position: relative
  }

  .calc-history {
    font-size: 20px;
    padding: 10px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;

    span {
      padding-left: 10px;
      display: block;

      &:first-of-type {
        padding-left: 0;
      }
    }
  }

  .left {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      flex-grow: 1;
      padding: 2vw;
  }

  .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .clear {
          background: transparent;
          color: white;
          border: none;
      }
  }
}
