<div class="calc">
  <div class="calc-row result">
    <div  class="calc-history"> <span *ngFor="let item of resultArr">{{item}}</span> </div>
    <div class="left">
      {{ result || 0 }}
    </div>
    <div class="right">
      <button class="clear" (click)="btnClicked('C')" [disabled]="disabled">
       CLEAR
      </button>
    </div>
  </div>
  <div class="calc-row">
    <button class="calc-button" (click)="btnClicked('7')" [disabled]="disabled"> 7 </button>
    <button class="calc-button" (click)="btnClicked('8')" [disabled]="disabled"> 8 </button>
    <button class="calc-button" (click)="btnClicked('9')" [disabled]="disabled"> 9 </button>
    <button class="calc-button func" (click)="btnClicked('/')" [disabled]="disabled"> / </button>
  </div>
  <div class="calc-row">
    <button class="calc-button" (click)="btnClicked('4')" [disabled]="disabled"> 4 </button>
    <button class="calc-button" (click)="btnClicked('5')" [disabled]="disabled"> 5 </button>
    <button class="calc-button" (click)="btnClicked('6')" [disabled]="disabled"> 6 </button>
    <button class="calc-button func" (click)="btnClicked('*')" [disabled]="disabled"> * </button>
  </div>
  <div class="calc-row">
    <button class="calc-button" (click)="btnClicked('1')" [disabled]="disabled"> 1 </button>
    <button class="calc-button" (click)="btnClicked('2')" [disabled]="disabled"> 2 </button>
    <button class="calc-button" (click)="btnClicked('3')" [disabled]="disabled"> 3 </button>
    <button class="calc-button func" (click)="btnClicked('-')" [disabled]="disabled"> - </button>
  </div>
  <div class="calc-row">
    <button class="calc-button" (click)="btnClicked('0')" [disabled]="disabled"> 0 </button>
    <button class="calc-button" (click)="btnClicked('.')" [disabled]="disabled"> . </button>
    <button class="calc-button func" (click)="btnClicked('=')" [disabled]="disabled"> = </button>
    <button class="calc-button func" (click)="btnClicked('+')" [disabled]="disabled"> + </button>
  </div>
</div>

